services:
  listinator:
    image: ghcr.io/hacky-day/listinator:latest
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - data:/var/lib/listinator
    networks:
      - proxy

volumes:
  data:

networks:
  proxy:
    external: true
