caddy/conf/nsupdate.caddy filter=git-crypt diff=git-crypt
immich/.env filter=git-crypt diff=git-crypt
listinator/.env filter=git-crypt diff=git-crypt
config-OPNsense.*.xml filter=git-crypt diff=git-crypt
paperless-ngx/docker-compose.env filter=git-crypt diff=git-crypt
acme-dns.yml filter=git-crypt diff=git-crypt
templates/bind9/key.haardiek.org filter=git-crypt diff=git-crypt
templates/bind9/key.listinator.org filter=git-crypt diff=git-crypt
files/docker.internal.haardiek.org_backup.sh filter=git-crypt diff=git-crypt
