services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    restart: unless-stopped
    volumes:
      - audiobooks:/audiobooks
      - podcasts:/podcasts
      - config:/config
      - metadata:/metadata
    environment:
      - TZ=Europe/Berlin
    networks:
      - proxy

volumes:
  audiobooks:
  podcasts:
  config:
  metadata:

networks:
  proxy:
    external: true
