services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    volumes:
      - data:/app/data
    restart: unless-stopped
    networks:
      - proxy

volumes:
  data:

networks:
  proxy:
    external: true
